## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Gcc Patch
/*.gcno
.DS_Store

# General
*.swp
*.swo
*.rbo
*.gem
.DS_Store
.rbenv-version
.rbx/
xcuserdata
project.xcworkspace
DerivedData
/concatenated.*

# Yardoc
.yardoc
/doc

# Specs
spec/fixtures/banana-lib
spec/fixtures/cache
spec/fixtures/chameleon
spec/fixtures/integration/Headers/
spec/fixtures/snake
spec/fixtures/vcr
spec/fixtures/spec-repos/Spec_Lock
tmp

# Examples
Podfile.lock
Pods
coverage/
.coveralls.yml

# IDEs
*.xccheckout
.idea/

# RVM files
/.rvmrc
/.ruby-version
/.ruby-gemset

# Bundler files
/.bundle

# trunk source
spec/fixtures/spec-repos/trunk/**/*.etag
spec/fixtures/spec-repos/trunk/*.yml