<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-recruiting-hsa.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CF9C916229BABB10035DF40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CF9C92A229BABB60035DF40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CF9C935229BABB60035DF40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
