<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>movie-app-hsa.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86F6ED002871598A00E8BA9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86F6ED162871599200E8BA9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86F6ED202871599200E8BA9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
