<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieScope.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>181DA76622CBAE2600AA1258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181DA77D22CBAE2700AA1258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181DA78822CBAE2700AA1258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
